body{
	background-color: rgb(157 201 222);
}

#header{

	background-color: white}

#head{

	font-family: 'Lobster', cursive;
	text-align: center;
}

.img{

	display:block;
}

#barry {
	background-color: rgb(96, 125, 139)
	text-color: white;
}